<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">OMG!</h1>
    </div>
</div>
<div class="container">
    <div class="row">
            <form action="go" method="post" enctype="multipart/form-data">
                <div class="form-inline">
                    <input class="form-control" type="file" name="file">
                    <input class="btn btn-primary" type="submit" value="GO!">
                </div>
            </form>
        <div class="col-3">
            <a target="_blank" href="http://use-whatever-you-like.readthedocs.io" class="btn btn-danger">SRS document</a>
        </div>
        <div class="col-3">
            <a target="_blank" href="https://github.com/jinmingyi1998/use_whatever_you_like" class="btn btn-success">View Source Code on
                <b>Git Hub</b></a>
        </div>
    </div>
</div>
</body>
</html>